# Ignore build output everywhere
**/bin/
**/obj/
**/packages/
*.http
**/Migrations
**.db
*.db-*
**.bin
**.v2
**.vsidx
.vs/VSWorkspaceState.json
**.sqlite
**.suo
**.wsuo
Backend/.vs/Backend/v17/DocumentLayout.json
/Frontend/